In [1]:
# Import Dependencies
import pandas as pd  # to read csv file and store as DF
import gmaps         # to create heat map
import requests      # to make API request

# import API key
from config import g_key

In [2]:
# Store the CSV file you created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuatapere,NZ,2022-01-26 19:03:16,-46.1333,167.6833,51.82,86,92,9.37
1,1,Yellowknife,CA,2022-01-26 19:00:53,62.4560,-114.3525,5.41,89,75,5.75
2,2,Alofi,NU,2022-01-26 19:03:16,-19.0595,-169.9187,81.68,76,6,15.19
3,3,Manado,ID,2022-01-26 19:03:17,1.4870,124.8455,75.97,94,20,1.14
4,4,Oranjemund,NaN,2022-01-26 19:03:17,-28.5500,16.4333,64.62,91,38,15.64

In [3]:
# To use gmaps, data must be integer or floating point decimal. Chekc data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Create a maximum temperature heat map

In [5]:
# Configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [8]:
# Ensure no temps are negative
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [9]:
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat','Lng']]

# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)

# add the heatmap layer
fig.add_layer(heatmap_layer)

# call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat','Lng']]
#Assign the weights
humidity = city_data_df['Humidity']
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

# add the heatmap layer
fig.add_layer(heatmap_layer)

# call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Cloudiness
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat','Lng']]
#Assign the weights
clouds = city_data_df['Cloudiness']
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

# add the heatmap layer
fig.add_layer(heatmap_layer)

# call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat','Lng']]
#Assign the weights
wind = city_data_df['Wind Speed']
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)

# add the heatmap layer
fig.add_layer(heatmap_layer)

# call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [14]:
# Filter city_data_df by min and max temperatures
# include .dropna() to drop rows with null values
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuatapere,NZ,2022-01-26 19:03:16,-46.1333,167.6833,51.82,86,92,9.37
8,8,Biltine,TD,2022-01-26 19:03:18,14.5333,20.9167,72.10,17,0,20.07
9,9,Punta Arenas,CL,2022-01-26 19:03:19,-53.1500,-70.9167,57.22,62,0,21.85
11,11,Nishihara,JP,2022-01-26 19:03:20,26.1842,127.7558,65.48,73,0,3.44
13,13,Guerrero Negro,MX,2022-01-26 19:03:21,27.9769,-114.0611,65.95,40,99,2.15
17,17,Hobart,AU,2022-01-26 19:03:22,-42.8794,147.3294,62.06,79,100,3.00
18,18,Bredasdorp,ZA,2022-01-26 19:03:23,-34.5322,20.0403,66.27,83,100,10.87
19,19,Ahipara,NZ,2022-01-26 19:03:23,-35.1667,173.1667,66.92,89,94,13.67
20,20,Cuamba,MZ,2022-01-26 19:02:13,-14.8031,36.5372,70.20,96,100,4.21
22,22,Bluff,NZ,2022-01-26 19:03:24,-46.6000,168.3333,51.80,68,72,16.62

In [15]:
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [16]:
# Create a DataFrame called hotel_df to store hotel names along with city, country max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0        Tuatapere      NZ     51.82 -46.1333  167.6833
8          Biltine      TD     72.10  14.5333   20.9167
9     Punta Arenas      CL     57.22 -53.1500  -70.9167
11       Nishihara      JP     65.48  26.1842  127.7558
13  Guerrero Negro      MX     65.95  27.9769 -114.0611
17          Hobart      AU     62.06 -42.8794  147.3294
18      Bredasdorp      ZA     66.27 -34.5322   20.0403
19         Ahipara      NZ     66.92 -35.1667  173.1667
20          Cuamba      MZ     70.20 -14.8031   36.5372
22           Bluff      NZ     51.80 -46.6000  168.3333

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius":5000,
    "types":"lodging",
    "key":g_key,
    }

In [18]:
# Iterate through the dataframe
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
  
    # Add the location to the params dictionary
    params["location"] = f'{lat},{lng}'
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make a request and get the JSON data from the search
    hotels = requests.get(base_url,params = params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Tuatapere,NZ,51.82,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
8,Biltine,TD,72.10,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
9,Punta Arenas,CL,57.22,-53.1500,-70.9167,Hotel Hain
11,Nishihara,JP,65.48,26.1842,127.7558,Minshuku Agaihama
13,Guerrero Negro,MX,65.95,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
17,Hobart,AU,62.06,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
18,Bredasdorp,ZA,66.27,-34.5322,20.0403,Bredasdorp Country Manor
19,Ahipara,NZ,66.92,-35.1667,173.1667,Ahipara Holiday Park
20,Cuamba,MZ,70.20,-14.8031,36.5372,Hotel Vision
22,Bluff,NZ,51.80,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [20]:
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)

# Add markers layer
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# add layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# CAll the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))